### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.
# generate a report that breaks down the game's purchasing data into meaningful insights.
##### Total Number of Players
##### Number of Unique Items
##### Average Purchase Price
##### Total Number of Purchases
##### Total Revenue

##### Percentage and Count of Male Players
##### Percentage and Count of Female Players
##### Percentage and Count of Other / Non-Disclosed

#### The below each broken by gender
#### Purchase Count
#### Average Purchase Price
#### Total Purchase Value
#### Average Purchase Total per Person by Gender

#### The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#### Purchase Count
#### Average Purchase Price
#### Total Purchase Value
#### Average Purchase Total per Person by Age Group

#### Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#### SN
#### Purchase Count
#### Average Purchase Price
#### Total Purchase Value

#### Identify the 5 most popular items by purchase count, then list (in a table):
#### Item ID
#### Item Name
#### Purchase Count
#### Item Price
#### Total Purchase Value

#### Identify the 5 most profitable items by total purchase value, then list (in a table):
#### Item ID
#### Item Name
#### Purchase Count
#### Item Price
#### Total Purchase Value


# Dependencies and Setup
%matplotlib notebook

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np



# File to Load
table_df = pd.read_csv('Resources/purchase_data.csv')

#Verifiying Source is being pulled correctly

table_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
##### Total Number of Players

Initial_Analysis = table_df.loc[:,["SN"]]
Initial_Analysis.head()

#Removing Duplicates and counting
Initial_Analysis = Initial_Analysis.drop_duplicates()
Total_Number_Players = Initial_Analysis.count()[0]
Total_Number_Players

#Result Presentation
pd.DataFrame({"Total Number of Players is ": [Total_Number_Players]})

   Total Number of Players is
0                          576

In [3]:
#Getting the Unique_Items

Unique_Items = len(table_df["Item ID"].unique())
Unique_Items


#Result Presentation
pd.DataFrame({"Total of Unique Items is ": [Unique_Items]})

   Total of Unique Items is
0                        179

In [41]:
##### Average Purchase Price

Average_Price= round(table_df["Price"].mean(),2)
Average_Price

#Result Presentation
pd.DataFrame({"The average Purchase Price is ": [Average_Price]})

   The average Purchase Price is
0                            3.05

In [5]:
##### Total Number of Purchases

Total_Purchases = table_df["Price"].count()
Total_Purchases

#Result Presentation
pd.DataFrame({"The Total Number of Purchases is ": [Total_Purchases]})

   The Total Number of Purchases is
0                                780

In [6]:
##### Total Revenue

Total_Revenue = table_df["Price"].sum()
Total_Revenue

#Result Presentation
pd.DataFrame({"The Total Revenue is ": [Total_Revenue]})

   The Total Revenue is
0                2379.77

In [42]:
#Displaying All in one

Display_Summary={'Total_Number_Players' :[Total_Number_Players],
                 'Total of Unique Items' : [Unique_Items],
                 'Average Purchase Price' : [Average_Price],
                 'Total Number of Purchases' : [Total_Purchases],
                 'Total Revenue' : [Total_Revenue]}

df = pd.DataFrame(Display_Summary)
display(df)

,Total_Number_Players,Total of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,3.05,780,2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
##### Count of Male Players
##### Count of Female Players
##### Count of Other / Non-Disclosed

Total_Count = table_df["Gender"].count()
Gender_Count = table_df["Gender"].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [39]:
##### Percentage of Male Players
##### Percentage of Female Players
##### Percentage of Other / Non-Disclosed

Gender_Count_Percentage = round((Gender_Count / Total_Count),2)
Gender_Count_Percentage

Male                     0.84
Female                   0.14
Other / Non-Disclosed    0.02
Name: Gender, dtype: float64

In [40]:
#Displaying Gender demographics

Gender_Summary={'Count per Gender' :[Gender_Count],
                 'Percentage per Gender' : [Gender_Count_Percentage]}

df = pd.DataFrame(Gender_Summary)
display(df)

,Count per Gender,Percentage per Gender
0,Male 652 Female ...,Male 0.84 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame