### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.
# generate a report that breaks down the game's purchasing data into meaningful insights.

##### Total Number of Players---------------------------------------------------------------------------------576
##### Number of Unique Items----------------------------------------------------------------------------------179
##### Average Purchase Price----------------------------------------------------------------------------------3.05 USD
##### Total Number of Purchases-------------------------------------------------------------------------------780
##### Total Revenue-------------------------------------------------------------------------------------------2379.77 USD

##### Percentage and Count of Male Players--------------------------------------------------------------------652; 83.59%
##### Percentage and Count of Female Players------------------------------------------------------------------113; 14.49%
##### Percentage and Count of Other / Non-Disclosed-----------------------------------------------------------15; 1.92%

#### SEE BELOW CONCLUSIONS ####


# Dependencies and Setup
%matplotlib notebook

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np



# File to Load
table_df = pd.read_csv('Resources/purchase_data.csv')

#Verifiying Source is being pulled correctly

table_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
##### Total Number of Players

Initial_Analysis = table_df.loc[:,["SN"]]
Initial_Analysis.head()

#Removing Duplicates and counting
Initial_Analysis = Initial_Analysis.drop_duplicates()
Total_Number_Players = Initial_Analysis.count()[0]
Total_Number_Players

#Result Presentation
pd.DataFrame({"Total Number of Players is ": [Total_Number_Players]})

   Total Number of Players is
0                          576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Getting the Unique_Items

Unique_Items = len(table_df["Item ID"].unique())
Unique_Items


#Result Presentation
pd.DataFrame({"Total of Unique Items is ": [Unique_Items]})

   Total of Unique Items is
0                        179

In [4]:
##### Average Purchase Price

Average_Price= round(table_df["Price"].mean(),2)
Average_Price

#Result Presentation
pd.DataFrame({"The average Purchase Price is ": [Average_Price]})

   The average Purchase Price is
0                            3.05

In [5]:
##### Total Number of Purchases

Total_Purchases = table_df["Price"].count()
Total_Purchases

#Result Presentation
pd.DataFrame({"The Total Number of Purchases is ": [Total_Purchases]})

   The Total Number of Purchases is
0                                780

In [6]:
##### Total Revenue

Total_Revenue = table_df["Price"].sum()
Total_Revenue

#Result Presentation
pd.DataFrame({"The Total Revenue is ": [Total_Revenue]})

   The Total Revenue is
0                2379.77

In [7]:
#Displaying All in one

Display_Summary={'Total_Number_Players' :[Total_Number_Players],
                 'Total of Unique Items' : [Unique_Items],
                 'Average Purchase Price' : [Average_Price],
                 'Total Number of Purchases' : [Total_Purchases],
                 'Total Revenue' : [Total_Revenue]}

df = pd.DataFrame(Display_Summary)
display(df)

,Total_Number_Players,Total of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
##### Count of Male Players
##### Count of Female Players
##### Count of Other / Non-Disclosed

Total_Count = table_df["Gender"].count()
Gender_Count = table_df["Gender"].value_counts()
Gender_Count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
##### Percentage of Male Players
##### Percentage of Female Players
##### Percentage of Other / Non-Disclosed

Gender_Count_Percentage = round((Gender_Count / Total_Count) *100,2)
Gender_Count_Percentage

Male                     83.59
Female                   14.49
Other / Non-Disclosed     1.92
Name: Gender, dtype: float64

In [10]:
#Displaying Gender demographics

Gender_Summary= {'Count per Gender' : [Gender_Count],
                 'Percentage per Gender' : [Gender_Count_Percentage]}

Gender_demographics = pd.DataFrame({"Count per Gender" : Gender_Count, "Porcentahe per Gender" : Gender_Count_Percentage})
df.head()
Gender_demographics.index.name = None
Gender_demographics.style.format({"Count per Gender":"{:,.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:



#### Average Purchase Total per Person by Gender

#Table of Price per Gender
Gender_Price_df = table_df[["Gender", "Price"]]
Gender_Price_df

     Gender  Price
0      Male   3.53
1      Male   1.56
2      Male   4.88
3      Male   3.27
4      Male   1.44
..      ...    ...
775  Female   3.54
776    Male   1.63
777    Male   3.46
778    Male   4.19
779    Male   4.60

[780 rows x 2 columns]

In [12]:
#### Purchase Count per Gender

Gender_Price_df = table_df.groupby(['Gender'])
print(Gender_Price_df)

Gender_Price_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000161E85947C0>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [13]:
#### Total Purchase Value

Gender_Price_df["Price"].sum()
Gender_Price_df.sum().head()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [14]:
#### Average Purchase Price

Average_Purchase_Price = Gender_Price_df["Price"].mean()
Average_Purchase_Price.head()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
#### The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# checking the Min-Max of the Age List to establish a more broad Age Intervals

Upper_value = table_df["Age"].max()
Lower_value = table_df["Age"].min()
Upper_value, Lower_value

Bins = [0, 14.90, 19.90, 24.90, 29.90, 34.90, 49.90]
Rows = ["<14", "15-19", "20-24","25-29","30-34",">34"]

#### Purchase Count per Age Intervals & percentage

table_df["Age_Intervals"] = pd.cut(table_df["Age"], Bins, labels=Rows)
Age_Intervals_df = table_df.groupby("Age_Intervals")
Age_Intervals_count = Age_Intervals_df["SN"].nunique()
Porcentage_Count = round(((Age_Intervals_count/Total_Number_Players)* 100),2)

Age_Demographics = pd.DataFrame({"Purchase Count" : Age_Intervals_count, "Porcentage" : Porcentage_Count})
Age_Demographics.index.name = None
Age_Demographics.style.format({"Count per Age":"{:,.2f}"})

In [16]:
#### Average Purchase Price
#### Total Purchase Value
#### Average Purchase Total per Person by Age Group

Average_Purchase_Price_per_Age = Age_Intervals_df["Price"].mean()
Total_Purchase_Value = Age_Intervals_df["Price"].sum()
Average_Purchase_Total_pPerson_bAge_Group = Total_Purchase_Value / Age_Intervals_count

Age_Demographics = pd.DataFrame({"Average Purchase Price" : Average_Purchase_Price_per_Age,
                                 "Total Purchase Value" : Total_Purchase_Value,
                                "Average Purchase Total per Person by Age Group" : Average_Purchase_Total_pPerson_bAge_Group})

Age_Demographics.index.name = None
Age_Demographics.style.format({"Average Purchase Price":"{:,.2f}",
                              "Total Purchase Value":"{:,.2f}",
                              "Average Purchase Total per Person by Age Group":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#### Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#### SN
#### Purchase Count
#### Average Purchase Price
#### Total Purchase Value

In [18]:
Spender = table_df.groupby("SN")
Spender_Purchase_Count = Spender["Purchase ID"].count()
Spender_Average_Purchase_Price = Spender["Price"].mean()
Spender_Total_Purchase_Value = Spender["Price"].sum()

Top_Spender = pd.DataFrame ({"Purchase Count" : Spender_Purchase_Count,
                            "Average Purchase Price" : Spender_Average_Purchase_Price,
                            "Total Purchase Value" : Spender_Total_Purchase_Value})

sorted_Spender = Top_Spender.sort_values(["Total Purchase Value"], ascending=False).head()

sorted_Spender.style.format({"Purchase Count":"{:,.2f}",
                              "Average Purchase Price":"{:,.2f}",
                              "Total Purchase Value":"{:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
#### Identify the 5 most popular items by purchase count, then list (in a table):
#### Item ID

Item_ID = table_df[["Item ID", "Item Name", "Price"]]

#### Item Name

Item_Data = Item_ID.groupby(["Item ID", "Item Name"])

#### Purchase Count & Value

Purchase_Count = Item_Data["Price"].count()
Purchase_Value = (Item_Data["Price"].sum())

#### Item Price

Item_Price_New = Purchase_Value/Purchase_Count

####  Most Popular & Total Purchase Value

Most_Popular_Item = pd.DataFrame({"Purchase Count" : Purchase_Count,
                               "Total Purchase Value" : Purchase_Value,
                                "Item Price" : Item_Price_New })

sorted_Popular_Item = Most_Popular_Item.sort_values(["Purchase Count"], ascending=False).head()

sorted_Popular_Item.style.format({"Item Price":"{:,.2f}","Total Purchase Value":"{:,.2f}"})

In [ ]:
## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#### Identify the 5 most profitable items by total purchase value, then list (in a table):

#### Item ID


#### Item Name
#### Purchase Count
#### Item Price
#### Total Purchase Value

In [42]:
sorted_Popular_Item = Most_Popular_Item.sort_values(["Total Purchase Value"], ascending=False).head()

sorted_Popular_Item.style.format({"Item Price":"{:,.2f}","Total Purchase Value":"{:,.2f}"})

In [ ]:

## CONCLUSIONS-The three observable trends based on the data are:

    #1.- The majority of the purchases are being made by Male with 83.59%
    #2.- The majority of the purchases are being made between the ages of 20 & 24, the 2nd most is between 15 & 19,
    #and 3rd most is between 25 & 29.
    #3.- There is a direct correlation of the total purchase value betweeen the age group and the gender,
    # being the most popular item the "Final Critic" with 13 purchases.